[
  {
    "url": "https://in.bookmyshow.com/buytickets/the-odyssey-chennai/movie-chen-ET00480917-MT/20260718",
    "theatre": "PVR",
    "date": "2026-07-25"
  },
  {
    "url": "https://in.bookmyshow.com/buytickets/the-odyssey-chennai/movie-chen-ET00480917-MT/20260718",
    "theatre": "INOX",
    "date": "2026-07-26"
  }
]
